In [3]:
import pandas as pd
import numpy as np
import json

In [27]:
file = open('../Data/products.json')
data = json.load(file)
file.close()

In [28]:
df = pd.DataFrame(data)
df.columns

Index(['product', 'seller', 'imageUri', 'price', 'shippingOptions',
       'offerFulfillmentOptions', 'canAddToCart'],
      dtype='object')

In [29]:
product = [product['product'] for product in data ]
df1 = pd.DataFrame(product)

In [31]:
def flatten_json(y):
    out = {}
    def flatten(x, name=""):
        if type(x) is dict:
            for a in x:
                flatten(x[a], name+a+"_")
        elif type(x) is list:
            i = 0
            for a in x:
                flatten(a, name+str(i)+"_")
                i+=1
        else:
            out[name[:-1]] = x
    
    flatten(y)
    
    return out

In [34]:
normalized_data = [flatten_json(product) for product in data]

In [36]:
df = pd.DataFrame(normalized_data)

In [37]:
df.columns

Index(['product_productId', 'product_productDesc',
       'product_review_overAllRating', 'product_review_ratings',
       'product_review_reviews', 'product_attributes_0',
       'product_attributes_1', 'product_attributes_2', 'seller', 'imageUri',
       'price_currentPrice_currencyAmount', 'price_currentPrice_currencyUnit',
       'price_previousPrice_currencyAmount',
       'price_previousPrice_currencyUnit',
       'price_discountPrice_currencyAmount',
       'price_discountPrice_currencyUnit', 'price_currentPriceType',
       'price_priceDisplayCodes_unitPriceDisplayCondition',
       'price_priceDisplayCodes_pricePerUnitUom',
       'shippingOptions_1-Day_currentShipPrice_currencyAmount',
       'shippingOptions_1-Day_currentShipPrice_currencyUnit',
       'shippingOptions_1-Day_shipPriceDiscount_currencyAmount',
       'shippingOptions_1-Day_shipPriceDiscount_currencyUnit',
       'shippingOptions_Two Day_currentShipPrice_currencyAmount',
       'shippingOptions_Two Day_currentShipPrice_currencyUnit',
       'shippingOptions_Two Day_shipPriceDiscount_currencyAmount',
       'shippingOptions_Two Day_shipPriceDiscount_currencyUnit',
       'shippingOptions_3-5 Days_currentShipPrice_currencyAmount',
       'shippingOptions_3-5 Days_currentShipPrice_currencyUnit',
       'shippingOptions_3-5 Days_shipPriceDiscount_currencyAmount',
       'shippingOptions_3-5 Days_shipPriceDiscount_currencyUnit',
       'shippingOptions_Normal_currentShipPrice_currencyAmount',
       'shippingOptions_Normal_currentShipPrice_currencyUnit',
       'shippingOptions_Normal_shipPriceDiscount_currencyAmount',
       'shippingOptions_Normal_shipPriceDiscount_currencyUnit',
       'offerFulfillmentOptions_0_fulfillmentOption',
       'offerFulfillmentOptions_0_isAvailable',
       'offerFulfillmentOptions_0_quantity',
       'offerFulfillmentOptions_1_fulfillmentOption',
       'offerFulfillmentOptions_1_isAvailable',
       'offerFulfillmentOptions_1_quantity', 'canAddToCart'],
      dtype='object')

In [38]:
df[['product_productId', 'product_productDesc', 'product_review_overAllRating', 'product_review_ratings', 'product_review_reviews', 'seller', 'price_currentPrice_currencyAmount', 'price_previousPrice_currencyAmount', 'price_discountPrice_currencyAmount', 'offerFulfillmentOptions_0_quantity', 'offerFulfillmentOptions_0_isAvailable', 'canAddToCart']]

,product_productId,product_productDesc,product_review_overAllRating,product_review_ratings,product_review_reviews,seller,price_currentPrice_currencyAmount,price_previousPrice_currencyAmount,price_discountPrice_currencyAmount,offerFulfillmentOptions_0_quantity,offerFulfillmentOptions_0_isAvailable,canAddToCart
0,11,"itel A48 (Gradation Green, 2GB RAM, 32GB Storage)",3.5,16,2,Workload Services,5998,6999,1001,85,True,True
1,12,New Apple iPhone 12 Mini (128GB) - Black,4.5,440,56,Workload Services,69490,74990,5410,85,True,True
2,13,"Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage)",4.5,440,56,Workload Services,8999,10999,2000,85,True,True
3,14,"Oppo A31 (Fantasy White, 6GB RAM, 128GB Storag...",4.0,2972,350,Workload Services,11990,15990,4000,85,True,True
4,15,"Redmi 9A (Nature Green, 2GB Ram, 32GB Storage)...",4.0,2972,350,Workload Services,6999,8499,1500,85,True,True
5,16,"Samsung Galaxy M21 (Midnight Blue, 4GB RAM, 64...",4.0,8159,1500,Workload Services,12999,15999,3000,85,True,True
6,17,"Panasonic Eluga i7 (2GB RAM, 16GB Storage, Fin...",3.0,1232,356,Workload Services,5000,10999,5999,85,True,True
7,18,"Lava Z1 (2GBRAM, 16GB Storage) Denim Blue",3.5,11,0,Workload Services,4999,5999,1000,85,True,True